@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    padding: 30px 100px 30px 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .logo{
    width: 100px;
}

.menu-list{
    display: flex;
    list-style: none;
    gap: 50px;
}

.menu-item a{
    text-decoration: none;
    color: black; 
}
.action-bar{
    gap: 45px;
}
.hero-section{
    background-image: url('public/assets/hero-bg.png');
    height: 716px;
    position: relative;
}

.hero-box{
    width: 643px;
    height: 443px;
    padding: 62px 43px 37px 39px;
    border-radius: 10px;
    background-color: #FFF3E3;
    position: absolute;
    bottom: 100px;
    right: 58px;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.hero-box p:first-child{
    font-size: 16px;
    color: #333333;
    font-weight: 500;
}
.hero-box h3{
    font-size: 52px;
    color:#B88E2F;
    font-weight: 700;
    line-height: 65px;
    margin-top: 4px;
    margin-bottom: 17px;
}

.hero-box p:nth-child(3){
    font-size: 18px;
    color:#333333;
    font-weight: 400;
    line-height: 24px;
}
.hero-box button{
    width: 222px;
    height: 74px;
    padding: 25px 72px 25px 72px;
    background-color: #B88E2F;
    border:0px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 46px;
}