@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    padding: 30px 100px 30px 54px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    

}
header .logo{
    width: 100px;
}

.menu-list{
    display: flex;
    list-style: none;
    gap: 50px;
}

.menu-item a{
    text-decoration: none;
    color: black; 
}

.top-container{
    background-image: url(public/assets/shop-bg.png);
    position: relative;
    top: 0;
    height: 316px;
    display: grid;
    justify-content: center;
    align-items: center;

}

h1{
    position: absolute;
    right: 50%;
    bottom: 50%;
    margin-bottom: 10px;
    padding: 120px 662px 124px 654; 

}

  .category-products {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 25px 50px;
    margin-top: 80px;
  }

  .image-container img{
    height: 300px;
  }
  
  .product-description {
    text-align: left;
    width: 500px;
    padding: 16px 5px 30px 5px;
  }
  
  .product-description h2 {
    margin-bottom: 20px;
    color: #3a3a3a;
  }
  
  .product-description p {
    margin-bottom: 8px;
  }
  
  .image-container > img{
    width: 100%;
  }
